<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      font-family: Comfortaa, sans-serif;
    }

    .menu ul {
      list-style: none;
    }

    .header_content {
      font-size:       36px;
      display:         flex;
      justify-content: center;
      align-content:   center;
      text-decoration: underline;
    }
  </style>
  <title>Welcome</title>
</head>
<body>
<div class="header">
  <p class="header_content">Welcome</p>
</div>
<hr>
<div class="menu">
  <ul>
    <li><a href="/customer/all-page">Show all customers</a></li>
    <li><a href="/customer/new-page">Register new customer</a></li>
    <li><a href="/customer/find-page">Find customer</a></li>
  </ul>
</div>
</body>
</html>