<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
</head>
<body>
<h1 style="display: flex; justify-content: center; align-content: center;">Log in, please!</h1>
<hr>
<div class="login-form">
  <p th:if="${param.failure}" style="color: red;">Invalid login or password :(</p>
  <p th:if="${param.logout}" style="color: darkorange;">You logged out. See you soon.</p>
  <form action="#" th:action="@{/authenticate/process}" method="post">
    <label for="username">Username:
    </label><input type="text" id="username" name="username">
    <br><br>
    <label for="password">Password:
    </label><input type="password" id="password" name="password">
    <br><br>
    <input type="submit" value="Login">
  </form>
</div>
</body>
</html>