<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register new one</title>
</head>
<body>
<form action="#" th:action="@{/customers/save}" th:object="${newCustomer}" method="post">
  First name: <input type="text" th:field="*{firstName}">
  <br><br>
  Last name: <input type="text" th:field="*{lastName}">
  <br><br>
  Email: <input type="text" th:field="*{email}">
  <br><br>
  <input th:if="${newCustomer.id == null}" type="submit" value="Register">
  <input th:unless="${newCustomer.id == null}" type="submit" value="Register">
</form>
</body>
</html>